<form action="/account" method="post">
  <%- include('../../components/form-input', { 
    name: 'username',
    label: 'Username',
    type: 'text',
    includePrevInput: true,
    required: true
  }) %>

  <div>
    <h3>Password</h3>
    <p>Leave this area blank if you would not like to change your password.</p>
  </div>
  
  <%- include('../../components/form-input', { 
    name: 'password',
    label: 'New password',
    type: 'password',
    includePrevInput: false,
    required: false
  }) %>

  <%- include('../../components/form-input', { 
    name: 'confirmPassword',
    label: 'Confirm password',
    type: 'password',
    includePrevInput: false,
    required: false
  }) %>

  <%- include('../../components/form-input', { 
    name: 'currentPassword',
    label: 'Current password',
    type: 'password',
    includePrevInput: false,
    required: false
  }) %>

  <button type="submit">Submit</button>
</form>

<div class="controls">
  <a type="button" class="warning" href="/delete">
    <%- include('../../svg/user-delete.svg') %>
    <span>Delete Account</span>
  </a>
</div>
