<form action=<%= '/directory/' + currentDirectory.id + '/edit' %> method="post">
  <%- include('../../components/form-input', { 
    name: 'name',
    label: 'Directory name',
    type: 'text',
    includePrevInput: true
  }) %>

  <%- include('../../components/directory-dropdown') %>

  <% if (
    currentDirectory.shareUntil && 
    Date.parse(currentDirectory.shareUntil) > Date.parse(new Date())
  ) { %>
    <p>
      Currently, this directory is <b>public</b>. It can be seen by anyone until <%= currentDirectory.shareUntil.toLocaleString('default', { 
        month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', timeZone: 'UTC', timeZoneName: 'short'
      }) %>. You can change the end date in the field below, or clear the date to make this directory private again.
    </p>
  <% } else { %>
    <p>
      Currently, this directory is <b>private</b>. It cannot be seen by anyone other than you. You can make this directory publically visible by entering a future date below. The directory can be seen by anyone until the entered date.
    </p>
  <% } %>

  <%- include('../../components/form-input', { 
    name: 'shareUntil',
    label: 'Share until',
    type: 'date',
    includePrevInput: true
  }) %>

  <button type="submit">Submit</button>
</form>