<%- include('../components/folder-path') %>

<table >
  <thead>
    <tr>
      <td>Name</td>      
      <td>Type</td>
      <td>Size</td>
    </tr>
  </thead>
  <tbody>

    <% if (currentFolder) { %>
      <tr>
        <td>
          <a href=<%= currentFolder.parentId 
            ? '/directory/' +  currentFolder.parentId
            : '/directory' %>>
            ..
          </a>
        </td>
        <td>-</td>
        <td>-</td>
      </tr>
    <% } %>
    
    <% childFolders.forEach(folder => { %>
      <tr>
        <td>
          <a href=<%= '/directory/' + folder.id %>>
            <%= folder.name + '/' %>
          </a>
        </td>
        <td>folder</td>
        <td>-</td>
      </tr>
    <% }) %>

    <% childFiles.forEach(file => { %>
      <tr>
        <td>
          <a href=<%= '/file/' + file.id %>>
            <%= file.name + '/' %>
          </a>
        </td>
        <td><%= file.type %></td>
        <td><%= file.size %> bytes</td>
      </tr>
    <% }) %>

  </tbody>
</table>


<a href='/new-file'>
  Upload a File
</a>

<a href="/new-folder">
  Add a Folder
</a>