<%- include('../components/folder-path') %>

<table >
  <thead>
    <tr>
      <td>Name</td>      
      <td>Type</td>
      <td>Size</td>
    </tr>
  </thead>
  <tbody>

    <% if (currentFolder) { %>
      <tr>
        <td>
          <a href=<%= currentFolder.parentId 
            ? '/directory/' +  currentFolder.parentId
            : '/directory' %>>
            ..
          </a>
        </td>
        <td>-</td>
        <td>-</td>
      </tr>
    <% } %>
    
    <% childFolders.forEach(folder => { %>
      <tr>
        <td>
          <div class="no-break-out">
            <a href=<%= '/directory/' + folder.id %>>
              <%= folder.name + '/' %>
            </a>
          </div>
        </td>
        <td>folder</td>
        <td>-</td>
      </tr>
    <% }) %>

    <% childFiles.forEach(file => { %>
      <tr>
        <td>
          <div class="no-break-out">
            <a href=<%= '/file/' + file.id %>>
              <%= file.name %></a><%= '.' + file.ext %>
          </div>
        </td>
        <td><%= file.type %></td>
        <td><%= file.size %> bytes</td>
      </tr>
    <% }) %>

  </tbody>
</table>


<a href=<%= '/new-file' + (currentFolder ? ('?dest=' + currentFolder.id) : '') %>>
  Upload a File Here
</a>
<br>
<a href=<%= '/new-folder' + (currentFolder ? ('?dest=' + currentFolder.id) : '') %>>
  Add a Folder Here
</a>
<br>
<% if (currentFolder) { %>
  <a href=<%= '/directory/' + currentFolder.id + '/download' %>>
    Download this Folder
  </a>
  <br>
  <a href=<%= '/directory/' + currentFolder.id + '/edit' %>>
    Edit this Folder
  </a>
  <br>
  <a href=<%= '/directory/' + currentFolder.id + '/delete' %>>
    Delete this Folder
  </a>
<% } %>
