<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/nodejs-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fonts/fonts.css">
  </head>
  <body>
    <header>
      <div class="header-body">
        <h1>
          <b>Stash</b>
        </h1>
        <div class="header-row">
          <% if (locals.user) { %>
            <p>
              Logged in as <b><%= locals.user.username %></b>
            </p>
            <nav>
              <a type="button" href="/">
                <%- include('svg/home.svg') %>
                <span>Home directory</span>
              </a>
              <a type="button" href="/logout">
                <%- include('svg/logout.svg') %>
                <span>Log out</span>
              </a>
            </nav>
          <% } else { %>
            <p>
              Not logged in
            </p>
            <nav>
              <a type="button" href="/login">
                <%- include('svg/login.svg') %>
                <span>Log in</span>
              </a>
              <a type="button" class="success" href="/signup">
                <%- include('svg/star.svg') %>
                <span>Sign up</span>
              </a> 
            </nav>
          <% } %>
        </div>
      </div>
    </header>

    <main>
      <div class="main-body">
        <% if (locals.alert.length > 0) { %>
          <div class="alert warning">
            <%- include('svg/warning.svg') %>
            <p>
              <%= locals.alert[0] %>
            </p>
          </div>
        <% } %>
        <h2><%= title %></h2>
        <%- include(`${page}`) %>
      </div>
    </main>
  </body>
</html>