<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/nodejs-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fonts/fonts.css">

    <script>
      html = document.querySelector('html');
      const themePreference = localStorage.getItem('theme-preference')

      if (themePreference) { // first, is there a saved theme preference?
        html.dataset['theme'] = themePreference
      } else if (window.matchMedia) { // second, does the browser prefer a theme?
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          html.dataset['theme'] = 'dark'
        } else if (window.matchMedia('(prefers-color-scheme: light)').matches) {
          html.dataset['theme'] = 'light'
        }
      } else {
        html.dataset['theme'] = 'light'
      }
    </script>
  </head>
  <body>
    <header>
      <div class="header-body">
        <p class="header-userstatus">
          <% if (locals.user) { %>
            Logged in as <b><%= locals.user.username %></b>
          <% } else { %>
            Not currently logged in
          <% } %>
          |
          <a href="#" id="theme-toggle"></a>
        </p>
        <div class="header-main">
          <h1>Stash</h1>
          <nav>
            <% if (locals.user) { %>
              <a type="button" href="/">
                <%- include('svg/file-tree.svg') %>
                <span>Files</span>
              </a>
              <a type="button" href="/search">
                <%- include('svg/folder-search.svg') %>
                <span>Search</span>
              </a>
              <a type="button" href="/account">
                <%- include('svg/user.svg') %>
                <span>Account</span>
              </a>
              <a type="button" href="/logout">
                <%- include('svg/logout.svg') %>
                <span>Log out</span>
              </a>
            <% } else { %>
              <a type="button" href="/login">
                <%- include('svg/login.svg') %>
                <span>Log in</span>
              </a>
              <a type="button" class="success" href="/signup">
                <%- include('svg/star.svg') %>
                <span>Sign up</span>
              </a> 
            <% } %>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div class="main-body">
        <!-- success alerts -->
        <% if (locals.success.length > 0) { %>
          <div class="alert success">
            <%- include('svg/success.svg') %>
            <p>
              <%= locals.success[0] %>
            </p>
          </div>
        <% } %>
        <!-- warning alerts -->
        <% if (locals.warning.length > 0) { %>
          <div class="alert warning">
            <%- include('svg/warning.svg') %>
            <p>
              <%= locals.warning[0] %>
            </p>
          </div>
        <% } %>

        <h2><%= title %></h2>
        <%- include(`${page}`) %>
      </div>
    </main>

    <script defer>
      const themeToggle = document.getElementById('theme-toggle');
      const currentTheme = () => html.dataset['theme'];

      function changeToggleText() {
        if (currentTheme() === 'light') {
        themeToggle.innerText = 'Lights off'
        } else if (currentTheme() === 'dark') {
          themeToggle.innerText = 'Lights on'
        }
      }

      changeToggleText()
      
      themeToggle.addEventListener('click', () => {
        const prevTheme = currentTheme()
        html.dataset['theme'] = prevTheme === 'light' 
          ? 'dark' : 'light';
        changeToggleText()
        localStorage.setItem('theme-preference', prevTheme === 'light' 
          ? 'dark' : 'light')
      })
    </script>
  </body>
</html>