<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/nodejs-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fonts/fonts.css">
  </head>
  <body>
    <header>
      <div class="header-body">
        <p class="header-userstatus">
          <% if (locals.user) { %>
            Logged in as <b><%= locals.user.username %></b>
          <% } else { %>
            Not currently logged in
          <% } %>
        </p>
        <div class="header-main">
          <h1>Stash</h1>
          <nav>
            <% if (locals.user) { %>
              <a type="button" href="/">
                <%- include('svg/file-tree.svg') %>
                <span>Files</span>
              </a>
              <a type="button" href="/search">
                <%- include('svg/folder-search.svg') %>
                <span>Search</span>
              </a>
              <a type="button" href="/account">
                <%- include('svg/user.svg') %>
                <span>Account</span>
              </a>
              <a type="button" href="/logout">
                <%- include('svg/logout.svg') %>
                <span>Log out</span>
              </a>
            <% } else { %>
              <a type="button" href="/login">
                <%- include('svg/login.svg') %>
                <span>Log in</span>
              </a>
              <a type="button" class="success" href="/signup">
                <%- include('svg/star.svg') %>
                <span>Sign up</span>
              </a> 
            <% } %>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div class="main-body">
        <!-- success alerts -->
        <% if (locals.success.length > 0) { %>
          <div class="alert success">
            <%- include('svg/success.svg') %>
            <p>
              <%= locals.success[0] %>
            </p>
          </div>
        <% } %>
        <!-- warning alerts -->
        <% if (locals.warning.length > 0) { %>
          <div class="alert warning">
            <%- include('svg/warning.svg') %>
            <p>
              <%= locals.warning[0] %>
            </p>
          </div>
        <% } %>

        <h2><%= title %></h2>
        <%- include(`${page}`) %>
      </div>
    </main>
  </body>
</html>