<div class="path-row">
  <%- include('../../components/directory-path') %>

  <a 
    type="button" 
    class="info" 
    href=<%= `/file/${file.id}/download` %>
  >
    <%- include('../../svg/download.svg') %>
    <span>Download</span>
  </a>
</div>

<div id="preview">
  <p><i>No preview is available for this file.</i></p>
</div>

<div class="controls">
  <a type="button" href=<%= `/file/${file.id}/edit` %>>
    <%- include('../../svg/file-update.svg') %>
    <span>Edit this file</span>
  </a>

  <a type="button" class="warning" href=<%= `/file/${file.id}/delete` %>>
    <%- include('../../svg/file-delete.svg') %>
    <span>Delete this file</span>
  </a>
</div>

<script defer>
  const previewBox = document.getElementById('preview')
  <% if (file.type.startsWith('image')) { %>
    const imageUrl = 'data:<%= file.type %>;base64,' + '<%= fileDataString %>'
    const imageElement = document.createElement('img')
    imageElement.src = imageUrl
    previewBox.textContent = ''
    previewBox.appendChild(imageElement)
  <% } %>

  <% if (file.type.startsWith('text')) { %>
    const textareaElement = document.createElement('textarea')
    const unescapedDataString = (`<%= fileDataString %>`)
      .replace(/&lt;/g, '<')
      .replace(/&gt;/g, '>')
      .replace(/&#34;/g, '"')
      .replace(/&#39;|&#x27;/g, "'")
      .replace(/&#x2F;/g, '/')
      .replace(/&amp;/g, '&')
    textareaElement.value = unescapedDataString
    previewBox.textContent = ''
    previewBox.appendChild(textareaElement)
    textareaElement.style.height = textareaElement.scrollHeight + "px"
  <% } %>
</script>
