<% if (
    currentDirectory &&
    currentDirectory.shareUntil && 
    Date.parse(currentDirectory.shareUntil) > Date.parse(new Date())
  ) { 
%>
  <div class="alert">
    <%- include('../../svg/info.svg') %>
    <p>
      This directory is <b>public</b>. You can share this directory with others using the link below.
      <input 
        type="text" 
        value=<%= 
          (process.env.DEPLOYMENT_URL ?? 'localhost:3000')
          + '/share/'
          + currentDirectory.id
        %>
      >
    </p>
  </div>
<% } %>

<div class="path-row">
  <%- include('../../components/directory-path') %>

  <%
  if (
    currentDirectory ||
    directories.length > 0 ||
    files.length > 0
  ) { %> 
    <a 
      type="button" 
      class="info" 
      href=<%= '/directory/' + (currentDirectory 
        ? (currentDirectory.id + '/download')
        : 'download') %>
    >
      <%- include('../../svg/download.svg') %>
      <span>Download</span>
    </a>
  <% } %>
</div>

<%
  if (
    !currentDirectory &&
    directories.length === 0 &&
    files.length === 0
  ) {
%>
  <div class="alert">
    <%- include('../../svg/info.svg') %>
    <p>
      Your filesystem is currently empty. You can get started on creating your filesystem with the <b>Add Directory</b> and <b>Add File</b> links below. Files and directories you create will be shown here in a table.
    </p>
  </div>
<% } else { %>
  <div class="table-wrapper">
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr> 
          <td><span>Name</span></td> 
          <td>Type</td> 
          <td>Size</td> 
          <td>Uploaded</td>
        </tr>
      </thead>
    
      <!-- ".." link to parent directory -->
      <% if (currentDirectory) { %>
        <tr>
          <td>
            <a class="entry-link" href=<%= currentDirectory.parentId 
              ? '/directory/' +  currentDirectory.parentId
              : '/directory' %>>
              <span>..</span>
            </a>
          </td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      <% } %>
    
      <!-- first, list directories -->
    
      <% directories.forEach(directory => { %>
        <tr>
          <td>
            <a class="entry-link" href=<%= '/directory/' + directory.id %>>
              <%- include('../../svg/folder.svg') %>
              <span>
                <b><%= directory.name %></b>/
              </span>
            </a>
          </td>
          <td>directory</td>
          <td>-</td>
          <td>-</td>
        </tr>
      <% }) %>
    
      <!-- then, list child files -->
    
      <% files.forEach(file => { %>
        <tr>
          <td>
            <a class="entry-link" href=<%= '/file/' + file.id %>>
              <%- include('../../svg/file.svg') %>
              <span>
                <b><%= file.name %></b>.<%= file.ext %>
              </span>
            </a>
          </td>
          <td><%= file.type %></td>
          <td><%= file.size %> bytes</td>
          <td><%= 
            file.createdAt.toLocaleString('default', { 
              month: 'numeric', day: 'numeric', year: 'numeric'
            })
          %></td>
        </tr>
      <% }) %>
    
    </table>
  </div>
<% } %>

<div class="controls">
  <a type="button" class="success" href=<%= '/directory/new' + (currentDirectory ? ('?dest=' + currentDirectory.id) : '') %>>
    <%- include('../../svg/folder-create.svg') %>
    <span>Add Directory</span>
  </a>

  <a type="button" class="success" href=<%= '/file/new' + (currentDirectory ? ('?dest=' + currentDirectory.id) : '') %>>
    <%- include('../../svg/file-create.svg') %>
    <span>Add File</span>
  </a>

  <% if (currentDirectory) { %>
    <a type="button" href=<%= '/directory/' + currentDirectory.id + '/edit' %>>
      <%- include('../../svg/folder-update.svg') %>
      <span>Edit Directory</span>
    </a>

    <a type="button" class="warning" href=<%= '/directory/' + currentDirectory.id + '/delete' %>>
      <%- include('../../svg/folder-delete.svg') %>
      <span>Delete Directory</span>
    </a>
  <% } %>
</div>


