<div class="path-row">
  <%- include('../../components/directory-path') %>

  <a 
    type="button" 
    class="info" 
    href=<%= `/file/${file.id}/download` %>
  >
    <%- include('../../svg/download.svg') %>
    <span>Download</span>
  </a>
</div>

<div id="preview">
  <p><i>No preview is available for this file.</i></p>
</div>

<div class="controls">
  <a type="button" href=<%= `/file/${file.id}/edit` %>>
    <%- include('../../svg/file-update.svg') %>
    <span>Edit this file</span>
  </a>

  <a type="button" class="warning" href=<%= `/file/${file.id}/delete` %>>
    <%- include('../../svg/file-delete.svg') %>
    <span>Delete this file</span>
  </a>
</div>

<script defer>
  const previewBox = document.getElementById('preview')
  const fileType = '<%= file.type %>'
  
  if (fileType.startsWith('image')) {
    const imageUrl = 'data:<%= file.type %>;base64,' + '<%= base64 %>'
    const imageElement = document.createElement('img')
    imageElement.src = imageUrl
    previewBox.textContent = ''
    previewBox.appendChild(imageElement)
  }
</script>
