<div class="path-row">
  <%- include('../../components/directory-path') %>

  <a 
    type="button" 
    class="info" 
    href=<%= `/file/${file.id}/download` %>
  >
    <%- include('../../svg/download.svg') %>
    <span>Download</span>
  </a>
</div>

<%- include('../../components/file-preview') %>

<div class="controls">
  <a type="button" href=<%= `/file/${file.id}/edit` %>>
    <%- include('../../svg/file-update.svg') %>
    <span>Edit this file</span>
  </a>

  <a type="button" class="warning" href=<%= `/file/${file.id}/delete` %>>
    <%- include('../../svg/file-delete.svg') %>
    <span>Delete this file</span>
  </a>
</div>
