<form action="/search" method="get">
  <%- include('../../components/form-input', {
    name: 'name',
    label: 'Name',
    type: 'text',
    includePrevInput: true
  }) %>

  <div class="input">
    <label for="type">Type</label>
    <select name="type" id="type">
      <option value="any">Any</option>
      <option value="directory">Directory</option>
      <option value="shared directory">Shared Directory</option>
      <optgroup label="File Types">
        <% fileTypes.forEach(type => { %>
          <option value="<%= type || 'any' %>">
            <%= type %>
          </option>
        <% }) %>
      </optgroup>
    </select>
  </div>

  <button type="submit">Submit</button>
</form>

<% if (Object.keys(prevForm).every(key => prevForm[key] === '')) { %>
<% } else { %>
  <h3>Results</h3>
  <% if (results.length === 0) { %>
    <p>Nothing was found with your search. Try a different search?</p>
  <% } else { %>
    <ul class="search-results" role="list">
      <% results.forEach(result => { %>
        <li class="search-result">
          <% if ('shareUntil' in result) { %>
            <div class="search-result-details">
              <%- include('../../svg/folder.svg') %>
              <p>
                <b><%= result.name %></b>/
                <br>
                <small>
                  <% if (
                    result.shareUntil &&
                    Date.parse(result.shareUntil) > Date.parse(new Date())
                  ) { %>
                    Public directory (until <%= result.shareUntil %>)
                  <% } else { %>
                    Private directory
                  <% } %>
                </small>
              </p>
            </div>
            <a type="button" href=<%= '/directory/' + result.id %>>
              <span>Go to location</span>
              <%- include('../../svg/go.svg') %>
            </a>
          <% } else { %>
            <div class="search-result-details">
              <%- include('../../svg/file.svg') %>
              <p>
                <b><%= result.name %></b>.<%= result.ext %>
                <% if (result.directory ) { %>
                  under <b><%= result.directory.name %></b>/
                <% } else { %>
                  under filesystem root
                <% } %>
                <br>
                <small>
                  <%= result.type %>, <%= result.size %> bytes
                </small>
              </p>
            </div>
            <a type="button" href=<%= '/file/' + result.id %>>
              <span>Go to file</span>
              <%- include('../../svg/go.svg') %>
            </a>
          <% } %>
        </li>
      <% }) %> 
    </ul>
  <% } %>
<% } %>

<script defer>
  const typeDropdown = document.getElementById('type')
  const urlParams = new URLSearchParams(window.location.search);
  const type = urlParams.get('type');
  typeDropdown.value = type ?? 'any';
</script>