<h3>
  <b><%= sharedDirectory.name %></b>/ 
  owned by 
  <b><%= sharedDirectory.author.username %></b>
</h3>

<div class="path-row">
  <%- include('../../components/directory-path') %>

  <a 
    type="button" 
    class="info" 
    href=<%=
      '/share/' + sharedDirectory.id 
      + (currentDirectory ? ('/directory/' + currentDirectory.id) : '') 
      + '/download'
    %>
  >
    <%- include('../../svg/download.svg') %>
    <span>Download</span>
  </a>
</div>

<table cellpadding="0" cellspacing="0">
  <thead>
    <tr> <td><span>Name</span></td> <td>Type</td> <td>Size</td> </tr>
  </thead>

  <!-- ".." link to parent directory -->
  <% if (currentDirectory) { %>
    <tr>
      <td>
        <a class="entry-link" href=<%= currentDirectory.parentId 
          ? '/share/' + sharedDirectory.id + '/directory/' +  currentDirectory.parentId
          : '/share/' + sharedDirectory.id %>>
          <span>..</span>
        </a>
      </td>
      <td>-</td>
      <td>-</td>
    </tr>
  <% } %>

  <!-- first, list directories -->

  <% directories.forEach(directory => { %>
    <tr>
      <td>
        <a class="entry-link" href=<%= '/share/' + sharedDirectory.id + '/directory/' + directory.id %>>
          <span>
            <b><%= directory.name %></b>/
          </span>
        </a>
      </td>
      <td>directory</td>
      <td>-</td>
    </tr>
  <% }) %>

  <!-- then, list child files -->

  <% files.forEach(file => { %>
    <tr>
      <td>
        <a class="entry-link" href=<%= '/share/' + sharedDirectory.id + '/file/' + file.id %>>
          <span>
            <b><%= file.name %></b>.<%= file.ext %>
          </span>
        </a>
      </td>
      </td>
      <td><%= file.type %></td>
      <td><%= file.size %> bytes</td>
    </tr>
  <% }) %>

</table>