<h3 style="margin-top: -1rem;">
  under <b><%= sharedDirectory.name %></b>/ 
  owned by 
  <b><%= sharedDirectory.author.username %></b>
</h3>

<div class="path-row">
  <%- include('../../components/directory-path') %>

  <a 
    type="button" 
    class="info" 
    href=<%=
      '/share/' + sharedDirectory.id + '/file/' + file.id + '/download'
    %>
  >
    <%- include('../../svg/download.svg') %>
    <span>Download</span>
  </a>
</div>

<%- include('../../components/file-preview') %>