<div class="input">
  <!-- top left: where label goes -->
  <label for="location">
    Select location
  </label>
  <!-- top right: where errors belong -->
  <p>
    <% if (formErrors && 'location' in formErrors) { %>
      <small class="error">
        <b>Error: </b>
        <%= formErrors['location'] %>
      </small>
    <% } %>
  </p>
  <!-- bottom: where input goes -->
  <select name="location" id="location">
    <% directoryTree.forEach(location => { %>
      <option value=<%=location.id || 'home' %>>
        <%= location.name %>
      </option>
    <% }) %>
  </select>
</div>

<script defer>
  const locationDropdown = document.getElementById('location')
  // FIRST, does prevForm have a directory id?
  let value = '<%= locals.prevForm?.location %>'
  if (value) {
    locationDropdown.value = value
  } else {
    // SECOND, does currentFile exist and does it have a directory id?
    if (<%= "currentFile" in locals %>) {
      value = '<%= locals.currentFile?.directoryId %>'
      locationDropdown.value = value === '' ? 'home' : value
    } else {
      // THIRD, does our url param have a directory id?
      const urlParams = new URLSearchParams(window.location.search);
      const dest = urlParams.get('dest');
      locationDropdown.value = dest ?? 'home'
    }
  }
</script>