<div class="path-links flex-row">
  <% if (!locals.path) { %>
    <small>
      At root <%= 'sharedDirectory' in locals ? 'of shared directory' : 'of your filesystem'%>
    </small>
  <% } else { %>
    <small>
      <a class="path-link" href=<%=
        'sharedDirectory' in locals
          ? ('/share/' + sharedDirectory.id)
          : '/dir/root' %>>(<%= 'sharedDirectory' in locals ? 'shared ' : ''
      %>root)</a>
    </small>

    <% path.forEach((directory, index) => { %>
      <% if (index === path.length - 1) { %>

          <%- include('../svg/path-arrow.svg') %>  
          <small><b><%= directory.name %></b></small>
        
      <% } else { %>

          <%- include('../svg/path-arrow.svg') %> 
          <small>
            <a class="path-link" href=<%=
              ('sharedDirectory' in locals
                ? ('/share/' + sharedDirectory.id)
                : '')
              + '/dir/' + directory.id
            %>> <%= directory.name %></a>
          </small>
        
      <% } %>
    <% }) %>
  <% } %>
</div>