<label for="location">Select location</label>
<div class="input">
  <select name="location" id="location">
    <% folderTree.forEach(location=> { %>
      <option value=<%=location.id || 'home' %>>
        <%= location.name %>
      </option>
    <% }) %>
  </select>
  <% if (formErrors && 'location' in formErrors) { %>
    <p>
      <small class="error">
        <b>Error: </b>
        <%= formErrors['location'] %>
      </small>
    </p>
  <% } %>
</div>

<script defer>
  const locationDropdown = document.getElementById('location')
  // FIRST, does prevForm have a folder id?
  let value = '<%= locals.prevForm?.location %>'
  if (value) {
    locationDropdown.value = value
    console.log('prefilled using prevForm')
  } else {
    // SECOND, does currentFile exist and does it have a folder id?
    if (<%= "currentFile" in locals %>) {
      value = '<%= locals.currentFile?.folderId %>'
      locationDropdown.value = value === '' ? 'home' : value
      console.log('prefilled using currentFile')
    } else {
      // THIRD, does our url param have a folder id?
      const urlParams = new URLSearchParams(window.location.search);
      const dest = urlParams.get('dest');
      locationDropdown.value = dest ?? 'home'
      console.log('prefilled using query')
    }
  }
</script>