<div class="input">
  <!-- top left: where label goes -->
  <label for=<%= name %>>
    <%= label %>
  </label>
  <!-- top right: where errors belong -->
  <p>
    <% if (formErrors && name in formErrors) { %>
      <small class="error">
        <b>Error: </b>
        <%= formErrors[name] %>
      </small>
    <% } %>
  </p>
  <!-- bottom: where input goes -->
  <input 
    type=<%= type %> 
    name=<%= name %> 
    id=<%= name %> 
    value="<%= includePrevInput && name in prevForm ? prevForm[name] : '' %>"
  >
</div>