<div class="field">
  <%- include('./form-input') %>
  <div class="onfocus-message" style="display: none;" id=<%= name + '-onfocus' %>>
    <% conditionMessages.forEach((condition, index) => {%>
      <p class="condition" id=<%= 'condition-' + name + index %>>
        <span class="correct" style="display: none;">
          <%- include('../svg/success.svg') %>
        </span>
        <span class="incorrect">
          <%- include('../svg/warning.svg') %>
        </span>
        <%= condition %>
      </p>
    <% }) %>
  </div>
</div>

<script defer>
  const doCheckFor<%= name %> = (value) => {
    <% for (let index = 0; index < conditionFunctions.length; index++) { %>
      const check<%= name + index %> = <%- conditionFunctions[index] %>
      const check<%= name + index %>Message = document
        .getElementById('condition-<%= name + index %>')

      const check<%= name + index %>Success = check<%= name + index %>(value)
      
      check<%= name + index %>Message.querySelector('.correct').style
        .display = check<%= name + index %>Success ? 'inline' : 'none'

      check<%= name + index %>Message.querySelector('.incorrect').style
        .display = check<%= name + index %>Success ? 'none' : 'inline'
    <% } %>
  }

  const <%= name %>Input = document.getElementById('<%= name %>')
  const <%= name %>Message = document.getElementById('<%= name + "-onfocus" %>')

  if (<%= name %>Input.value !== '') {
    <%= name %>Message.style.display = 'block'
    doCheckFor<%= name %>(<%= name %>Input.value)
  } else {
    <%= name %>Input.addEventListener('focus', () => {
      <%= name %>Message.style.display = 'block'
    })
  }
  
  <%= name %>Input.addEventListener('input', e => {
    doCheckFor<%= name %>(e.target.value)
  })
</script>